input {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #24242450;
    padding-inline: 12px;
}

input:focus {
    box-shadow: 0px 0px 8px #24242416;
    border: 1px solid #24242460;
}